*{margin: 0;
  padding: 0;
  background-color: #0A0A0A;
}
.hero-section {
    height: 100vh;
    width: 100vw;
    display: flex; 
}
.welcome-title{
    height: 30rem;
    width: 40rem;
}
.welcome{
    display: inline-block;
    color: #f8e1cb;
    margin-top: 10rem;
    font-size: 2rem;
    margin-left: 5rem;
}
.title{
    display: inline-block;
    color:antiquewhite ;
    font-size: 5rem;
    margin-left: 5rem;
    font-family:  'Playfair Display', 'Georgia', serif;
    width: 5rem;
}
.main-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8e1cb;
    position: relative;
    height: 17rem; 
    width: 30rem;
    position: absolute;
    right: 10rem;
    top: 11rem;
    border-radius: 2rem;
}
.main-photo img:hover{
    transform: scale(1.03);
    transition: all 1000ms ;
}
.main-photo img{
    border-radius: 2rem;
    height: 16.75rem;
    width: 29.75rem;
}


.main-photo::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(234, 203, 132);
    z-index: -1;
    padding: 10px;
    border-radius: 2rem;
    
}




