*{margin: 0;
  padding: 0;
  background-color: #0A0A0A;
}
.hero-section {
    height: 100vh;
    width: 100vw;
    display: flex; 
}
.welcome-title{
    height: 30rem;
    width: 40rem;
}
.welcome{
    display: inline-block;
    color: #f8e1cb;
    margin-top: 10rem;
    font-size: 2rem;
    margin-left: 5rem;
}
.title{
    display: inline-block;
    color:antiquewhite ;
    font-size: 5rem;
    margin-left: 5rem;
    font-family:  'Playfair Display', 'Georgia', serif;
    width: 5rem;
}
.main-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8e1cb;
    position: relative;
    height: 17rem; 
    width: 30rem;
    position: absolute;
    right: 10rem;
    top: 11rem;
    border-radius: 2rem;
}
.main-photo img:hover{
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out ;
}
.main-photo img{
    border-radius: 2rem;
    height: 16.75rem;
    width: 29.75rem;
}

/* main-body */
.main-body{
    color: #e8d2b0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    
}


/* neon-sign-borad */
.neon-sign-board{
    
    
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title-neon{
    text-align: center;
    font-size: 2rem;
    width: 100%;
    height: 3rem;
    
}
@keyframes text-appear{
    from{
        opacity: o;
        clip-path: inset(100% 100% 0 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}
.title-neon, .info{
    animation: text-appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
}
    
.info{
    position: absolute;
    left: 8rem;
    text-align: center;
    height: 3rem;
    width: 80%;
    color: rgb(247, 242, 236);
    font-size: 0.75rem;
}
.photo-neon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15rem;
    width: 60rem;
    margin-top: 3rem;
    border-radius: 2rem;
}
.img1{
    height: 15rem;
    width: 20rem;
    background-image:url(wall-neon1.jpeg) ;
    background-size: cover;
    border-radius: 1rem;
    position: absolute;
    left: 25rem;
}
@keyframes photo-appear{
    from{
        opacity: 0;
        scale: 0.3;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.img1 , .img2{
    animation: photo-appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    transition: all 0.3s ease-in-out;
}
.img2{
    height: 15rem;
    width: 20rem;
    background-image:url(wall-neon2.webp) ;
    background-size: cover;
    border-radius: 1rem;
    position: absolute;
    left: 50rem;
    
}
.img1:hover , .img2:hover{
    scale: 1.08;
}


/* neon-logo */
.neon-logo{
    height: 35rem;
    width: 100%;
    display:inline-block ;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title-neon-logo{
    text-align: center;
    font-size: 2rem;
    animation: title-neon-logo linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
@keyframes title-neon-logo{
    from{
        opacity: 0;
        clip-path: inset(100 100 0 0);
    }
    to{ 
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

.img-neon-logo{
    
    height: 25rem;
    width: 50rem;
    background-image:url(neon-logo-img.jpg) ;
    background-size: cover;
    border-radius: 2rem;
    margin-left: 22.5rem;
    transition: all 0.3s ease-in-out;
} 
.img-neon-logo:hover{
    scale: 1.08;
}
.info-neon-logo{
    text-align: center;
    font-size: 0.75rem;
    width: 80%;
    position: absolute;
    left: 10rem;
    color: rgb(247, 242, 236);
     animation: title-neon-logo linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* high-end-design */

.high-end-design{
    height: 75vh;
    width: 100vw;
}
.title-high{
    text-align: center;
    position: relative;
    top: 0px;
    height: 3rem;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.info-high{
    height: 5rem;
    width: 80%;
    color: rgb(247, 242, 236);
    text-align: center;
    position: relative;
    left: 10rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.75rem;
}
.high-end-photo{
    height: 20rem;
    width: 42rem;
    position: relative;
    left: 27rem;
    justify-content: space-evenly;
    display: flex;
}
.high-image-1{
    height: 20rem;
    width: 40%;
    background-image: url(high-image-1.jpeg);
    background-size: cover;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    animation: high-image linear;
    animation-timeline: view();
    animation-range: entry 0 cover 60%;
}
.high-image-2{
    height: 20rem;
    width: 40%;
    background-image: url(high-image-2.webp);
    background-size: cover;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}
.high-image-1:hover, .high-image-2:hover{
    scale: 1.08;
}
@keyframes high-image{
    from{
        opacity: 0;
        clip-path: inset(100 100 0 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

/* quotes corner */

.quotes-corner-title{
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.quotes-corner-info{
    height: 3rem;
    width: 80%;
    position: relative;
    left: 10rem;
    font-size: 0.75rem;
    text-align: center;
    color: rgb(247, 242, 236);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.quotes-corner-photo{
    height: 20rem;
    width: 40rem;
    background-color: white;
    position: relative;
    left: 28rem;
    border-radius: 2rem;
    background-image: url(quotes-corner-photo.jpeg);
    background-size: cover;
    transition: all 0.3s ease-in-out;
}
.quotes-corner-photo:hover{
    scale: 1.08;
}

.super-hero-corner{
    height: 70vh;
    width: 100vw;
}
.super-hero-title{
    height: 3rem;
    text-align: center;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 2rem;
}
.super-hero-image{
    height: 20rem;
    width: 50rem;
    position: relative;
    left: 23rem;
    /* background-color: white; */
    display: flex;justify-content: space-evenly;
    align-items: center;
}

.super-image-1{
    height: 20rem;
    width: 15rem;
    background-image: url(super-image-1.jpg);
    background-size: cover;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}
.super-image-2{
    height: 20rem;
    width: 15rem;
    background-image: url(super-image-2.jpg) ;
    background-size: cover;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}
.super-image-3{
    height: 20rem;
    width: 15rem;
    background-image: url(super-image-3.jpg);
    background-size: cover;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}
.super-image-1:hover, .super-image-2:hover, .super-image-3:hover{
    scale: 1.08; 
}

/* bottle stand */
.bottle-stand{
    height: 70vh;
    width: 100%;
}
.bottle-stand-title{
    height: 3rem;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 2rem;
}
.bottle-stand-image{
    height: 20rem;
    width: 40rem;
    position: relative;
    left: 30rem;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottle-stand-image1{
    height:18rem;
    width: 18rem;
    background-image: url(bottle-sign.jpg);
    background-size:cover;
   border-radius: 1rem; 
   transition: all 0.3s ease-in-out;
}
.bottle-stand-image2{
    height: 18rem;
    width: 18rem;
    background-image: url(club1.png);
    background-size:cover;
    border-radius: 1rem; 
    background-color: rgb(10, 220, 235);
    transition: all 0.3s ease-in-out;
}
.bottle-stand-info{
    height: 12rem;
    width: 80%;
    position: relative;
    left: 10rem;
    color: rgb(247, 242, 236);
    text-align: center;
    font-size: 0.75rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 2rem;
}
.bottle-stand-image1:hover, .bottle-stand-image2:hover{
    scale: 1.08;
}
